{% extends 'index.html' %}

{% block content %}
<!--<canvas id="canvas" width="1250px" height="1000px" style="border: 3px solid"></canvas>-->
<!--<canvas id="canvas" style="border: 5px solid; border-color: cyan;"></canvas>-->
<canvas id="canvas"></canvas>

<img hidden id="actual-image" src="/{{ upload_dir }}/{{ image.filename }}" class="card-img-top"
         alt="{{ image.title }}">
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ image.title }}</h5>
        <div class="card-text">Upload date: {{ image.created_on }}</div>
        <button type="button" class="btn-update-image-data btn btn-info">Save changes</button>
        <a href="{{ url_for('delete', image_id = image.id) }}"
           class="btn btn-secondary">Delete Image</a>
        {% if detections %}
        {% for item in detections %}
        <div hidden class="alert alert-info detected-face-item" role="alert" id={{ item.id }}>
            {{ item.topleft_x }},{{ item.topleft_y }},{{ item.width }},{{ item.height }}
        </div>
        {% endfor %}

        {% else %}
        <div class="alert alert-warning" role="alert">
            Face detections not found for current image!
        </div>

        {% endif %}

    </div>
</div>
<script src="/static/script.js"></script>
{% endblock %}